header{
    width:100%;
    height:100%;
    background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
}

div.forms{
    height:100%;
    width:100%;
    background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
    text-align:center; 
}

div.forms div{
    margin: 0 auto;
    display: flex;
}

div.forms div.googlemap{
    margin:0 auto;
}

form{
    margin:auto;
}
.mb-4{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#language{
    color:black;
    width: 250px;
}

#spelling{
    width:250px;
}

#city{
    width:250px;
}
#submit{
    color:black;
}
html{
    height:100%;
    margin:0;
    padding:0;
}
